*{
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding:0;
    margin:0;
}

h2{
    text-align: center;
    color:#1F2937;
    font-size: 36px;
    font-weight:900;
}

button{
    border:2px solid #F9FAf8;
    border-radius: 5px;
    height:40px;
    width:80px;
    color: #F9FAf8;
    background-color:#3882f6;
    cursor: pointer;
}

.header-section{
    background-color: #1F2937;
    color:white;
}

.header-bar{
    display:flex;
    border:1px solid #1F2937;
    align-items: center;
    position: fixed;
    top:0;
    width:100%;
    padding-right:80px;
    background-color: #1F2937;
    height:70px;
}

.header-logo{
    flex:1;
    margin-left:110px;
}

.header-links{
    justify-content: flex-end;
    margin-right: 35px;
    font-size: 20px;
    color: #F9FAf8;
    text-decoration: none;
}

.header-items{
    margin-top:65px;
    margin-left:150px;
    display:flex;
    justify-content: space-around;
    height: 400px;
    align-items: center;
    width:80%;
}

.hero{
    color: #F9FAf8;
    font-size: 48px;
    font-weight:bolder;
    text-align: left;
    margin-bottom: 20px;
}

.header-text{
    flex-direction: column;
    font-size: 24px;
    color:#E5E7EB;
    padding-bottom: 50px;
    text-align: left;
}

.header-button{
    border: 2px solid #1F2937;
    margin-top:20px;
}

.header-image{
    width:auto;
    height:200px;
    padding-right:80px
}

.image-section{
    padding-top: 50px;
}

.image-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px auto;
}

.image-wrapper{
    margin:10px 30px 30px 10px;
    text-align: center;
}

.image{
    height:150px;
    width:auto;
    margin:10px auto;
    border-radius: 10px;
    display:block;
}

.image-content{
    font-size: 12px;
    margin-bottom:40px auto;
    width:150px;
    height:70px;
}

.quote-section{
    text-align: center;
    font-style: italic;
    width:auto;
    padding:15px 40px;
    background-color: #E5E7EB;
    color:#1F2937;
    font-style: italic;
    font-size: 36px;
    padding:50px 0px;
    font-weight:lighter;
}

.quote-items{
    margin:auto;
    width: 50%;
}

.quote-author{
    text-transform: capitalize;
    font-weight: 700;
    font-size:26px;
}

.action-section{
    height:150px;
}

.action-container{
    display:flex;
    height:100px;
    width:50%;
    justify-content: space-around;
    align-items: center;
    margin:50px auto 10px auto;
    padding:50px;
    background-color: #3882f6;
    color:#F9FAf8;
    border-radius: 5px;
}

.action-content{
    flex-direction: column;
}

.action-button{
    align-items:center;
}

.footer{
    text-align: center;
    background-color: #1F2937;
    bottom:0;
    color: #F9FAf8;
    width:100%;
    height:50px;
    left:0;
    position:static; 
    padding-top: 20px;
    font-size: 18px;
}